aside, section{
    background-color: black;
}

h2{
    text-align: center;
    color: white;
}

hr{
    height: 10px;
    background-color: silver;
}

i{
    font-size: 35px;
    padding: 0 15px 0 15px;
}



#cards{
    margin: 1%;
    padding: 0;
    border-color: black;
    background-color: #23c9e9;
}

#cicons1, footer{
    background-color: #23c9e9;
}

#imgcard{
    height: 190px;
}

.logo{
    width: 20px;
}

.bannerContainer {
    position:relative;     
}
.carousel {
    top:0;    
}
.navbar {
    position:absolute;
    z-index:10;
    background:none;
    width:100%;
}

